BUCKET_NAME="your-unique-bucket-name"
GCP_SERVICE_ACCOUNT_JSON='{"key": "value", ...}'
HF_TOKEN="your_huggingface_token"
OPENAI_API_KEY="your_api_key"
OLLAMA_MODEL="llama3.2"
OLLAMA_BASE_URL=localhost:port